<nav class="navbar main-menu navbar-default" style="height: 120px">
    <div class="container">
        <div class="menu-content">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{{ asset('frontend/images/header-logo.png') }}" alt=""></a>
            </div>


            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1" style="padding-top: 35px;">
                <ul class="nav navbar-nav text-uppercase" style="font-size: 20pt;">
                    <li><a href="#">Home</a></li>
                    <li><a data-toggle="dropdown" class="dropdown-toggle" href="#">Quem Somos <i
                                    class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="#">Nosso Estatuto</a></li>
                            <li><a href="#">Assiciar-se</a></li>
                            <li><a href="#">Transparência</a></li>
                            <li><a href="#">Como Doar</a></li>
                            <li><a href="#">Midias</a></li>
                            <li><a href="#">Projetos</a></li>


                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Medicos
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Conselho Federal de Medicina</a></li>
                            <li><a href="#">Anvisa</a></li>
                            <li><a href="#">Pesquisas Publicadas</a></li>
                            <li><a href="#">Estudo Clinicos</a></li>
                            <li><a href="#">Receitas e Dosagem</a></li>
                            <li><a href="#">Encontre um Medico</a></li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Radio
                            <i class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="#">Ouvir no Celular</a></li>
                            <li><a href="#">Ouvir no PC</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Área de Associados
                            <i class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="#">Ajuda</a></li>
                            <li><a href="#">Associar-se</a></li>
                            <li><a href="#">Avisos</a></li>
                            <li><a href="#">Abrir Chamado</a></li>
                            <li><a href="#">Rodas</a></li>
                            <li><a href="#">Eventos</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="i_con">
                    <div class="top-search">
                        | <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>

            </div>
            <!-- /.navbar-collapse -->


            <div class="show-search">
                <form role="search" method="get" id="searchform" action="#">
                    <div>
                        <input type="text" placeholder="Buscar por:" name="s" id="s">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>