<div class="col-md-4" data-sticky_column>
    <div class="primary-sidebar">
        <aside class="widget news-letter">
            <h3 class="widget-title text-uppercase text-center">Acesso Associado</h3>

            <form action="#">
                <input type="email" placeholder="E-Mail:">
                <input type="email" placeholder="Senha:">
                <label><input type="checkbox"> Lembrar meus dados</label>
                <input type="submit" value="Entrar"
                       class="text-uppercase text-center btn btn-subscribe">
            </form>

        </aside>

        <aside class="widget">
            <h3 class="widget-title text-uppercase text-center">Energia Gerada Hoje</h3>

            <div id="widget-feature" class="owl-carousel">
                <div class="item">
                    <div class="feature-content">
                        <img src="{{ asset('frontend/images/p1.jpg') }}" alt="">

                        <a href="#" class="overlay-text text-center">
                            <h5 class="text-uppercase">Home is peaceful</h5>

                            <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="feature-content">
                        <img src="{{ asset('frontend/images/p2.jpg') }}" alt="">

                        <a href="#" class="overlay-text text-center">
                            <h5 class="text-uppercase">Home is peaceful</h5>

                            <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="feature-content">
                        <img src="{{ asset('frontend/images/p3.jpg') }}" alt="">

                        <a href="#" class="overlay-text text-center">
                            <h5 class="text-uppercase">Home is peaceful</h5>

                            <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                        </a>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</div>