<div class="col-md-4" data-sticky_column>
    <div class="primary-sidebar">
        <aside class="widget news-letter">
            <h3 class="widget-title text-uppercase text-center">Acesso Associado</h3>

            <form action="#">
                <input type="email" placeholder="E-Mail:">
                <input type="email" placeholder="Senha:">
                <label><input type="checkbox"> Lembrar meus dados</label>
                <input type="submit" value="Entrar"
                       class="text-uppercase text-center btn btn-subscribe">
            </form>

        </aside>

        <aside class="widget">
            <h3 class="widget-title text-uppercase text-center">Energia Gerada Hoje</h3>

            <div id="widget-feature" class="owl-carousel">
                <div class="item">
                    <div class="feature-content">
                        <figure class="wp-caption alignnone" style="max-width: 424px">
                            <img class="" src="https://www.solarweb.com/Addon/GetChart?token=22e884d0-0042-444c-981e-a65c000cf352" alt="" width="424" height="283" />
                            <figcaption class="wp-caption-text">Energia Gerada pela ABRACE</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</div>